h3{
    color: blue;
    text-align: center;
    font-size: large;
    background-color: color(from color srgb r g b);
}
div{
    background-image:url('assets/audio10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     width: 50%;
    text-align: end;
   

}
p{
    color: rgb(255, 0, 123);
    background-color: beige;
    width: 500px;
}